@tailwind base;
@tailwind components;
@tailwind utilities;


html,
#__next,
body {
    direction: rtl;
    height: 100%;
    width: 100%;
    max-width: 100vw;

}

@font-face {
    font-family: 'KB';
    src: url('/fonts/Kalameh/KalamehWeb-Bold.woff') format('truetype');
}

@font-face {
    font-family: 'KM';
    src: url('/fonts/Kalameh/KalamehWeb-Medium.woff') format('truetype');
}

@font-face {
    font-family: 'K';
    src: url('/fonts/Kalameh/KalamehWeb-Regular.woff') format('truetype');
}

@font-face {
    font-family: 'KT';
    src: url('/fonts/Kalameh/KalamehWeb-Thin.woff') format('truetype');
}

.ghadi-masked {
    mask-image: url("/assets/ghadi/mask.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: bottom;
}


